@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html, body { color: #211D40; font-family: 'Yanone Kaffeesatz', sans-serif; background-color: #211D40; }
.non-footer { background-color: white;}
p, td, th, label { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}

.content { padding: 20px 0; }

footer { color: white; text-align: center; padding-top: 25px; height: 100%; padding-bottom: 25px; }
footer img { margin-bottom: 15px;}
footer p { font-size: 11px;text-transform: uppercase;margin-bottom: 0px;}
footer .disclaimer { line-height: 11px; margin-top: 10px;text-transform: none;}

.hero-image { position: relative; }
.hero-image-text { position: absolute;top: 20px;left: 20px;color: white;font-size: 32px; padding-right: 20px;line-height: 30px;}

.navbar { margin-bottom: 0px; color: #211D40; border-width: 0 0 1px 0; border-style: solid; border-color: #ccc; }
.navbar li { line-height: 35px; font-size: 18px; }

/*.navbar-inner { border: none;}
.nav-collapse .nav li a { -webkit-border-radius: 0; border-radius: initial;color: #211D40;}
.nav-collapse .nav li a:hover { color: #211D40;}
.navbar .nav li a { text-shadow: none; padding-top: 0px; padding-bottom: 0px; }
.navbar .nav .active a { -webkit-box-shadow: none; box-shadow: none; color: white; background-color: #211D40; }
.navbar .nav .active a:hover { color: #211D40; background-color: #211D40;}
.navbar .btn { margin-top: 10px; }
*/

table.stocks { width: 100%;}
table.stocks td, table.stocks th { text-align: left; padding: 5px 0;}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
	.navbar .nav-collapse li a { font-weight: normal; }
	.nav-collapse .nav {margin-top: 15px;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	footer { margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; }
	.non-footer {margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
