<div ng-controller="TheGame">
	<h1>The Game</h1>
	<p><strong>Balance:</strong> {{ '{{ balance ' }}}}</p>
	<table class="stocks">
		<tr>
			<th>Driver</th>
			<th>Price</th>
			<th>Your Shares</th>
		</tr>
		<tr ng-repeat="stock in stocks">
			<td>{{ '{{ stock.code ' }}}}</td>
			<td>${{ '{{ stock.price ' }}}}</td>
			<td>{{ '{{ stock.shares ' }}}}</td>
			<td>
				<a href="#" class="btn btn-success" onmousedown="console.log('Buy Requested'); buyShares('{{ '{{ stock.code ' }}}}');" onclick="return false;">Buy</a>
				<a href="#" class="btn btn-danger" onmousedown="console.log('Sell Requested');sellShares('{{ '{{ stock.code ' }}}}');" onclick="return false;">Sell</a>
			</td>
		</tr>
	</table>
</div>